header{
    width: 1700px;
    height: 129px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;
    border: 1px solid black;
}
a{
    color: black;
    font-size: 20px;
}
.logo{
    width: 198px;
    height: 60px;
}
.menu{
    width: 314px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-top: 1rem;
    
}
.user-control-panel{
    display: inline;
    width: 314px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5rem;
    margin-top: 1rem;
}
.user-control-panel .fas.fa-search{
    margin-left: 0;
    margin-right: 2rem;
}
.user-control-panel .fa-regular.fa-bell{
    color: blue;
    height: 46px;
    width: 38px;

}

.profile{
    height: 25px;
    width: 25px;
    justify-content: left;
    align-items: left;
    border-radius: 50px;
    margin-top: 1rem;
    background-color: white;
    border: 1px solid black;
}
h1{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}
h2{
    font-size: 20px;
    font-weight: bold;
}
.suggestion-title{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1700px;
    height: 32px;
    margin: 1rem;
}

main{
    border: 1px solid black;
    width: 1700px;
    height: 370px;
    padding: 3rem;
    
}

h3{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.suggestion-item{
    display: flex;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;
}
.suggestion-content{
    display: flex;
    flex-direction: row;
    width: 1700px;
    height: 191px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    
}
.suggestion-item-content{
    display: inline-block;
    width: 285px;
    height: 168px;
    padding: 15px;
    border: 1px solid black;
    font-size: 16px;
    margin: 10px;
}
.user-rating{
    color: red;
    display: flex;
    
}
p{
    font-size: 16px;
    width: 564px;
    height: 82px;
    margin-top: 1rem;
}
.duration{
    font-weight: bold;
}
.maturity-rating{
    border: 1px solid black;
}
.movie-details span{
    color: red;
    font-weight: bold;
    display: flex;
    
}
.btn.btn-lg{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10%;
    width: 120px;
    height: 40px;
    margin-top: 1rem;
}
.suggestion-row-hide{
    width: 1700px;
    height: 370px;
    visibility: hidden;
}
footer{
    width: 1700px;
    height: 186px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;

}
.son{
    width: 448px;
    height: 32px;
    color: black;
    gap: 4rem;
}
.copyright{
    width: 560px;
    height: 55px;
    color: black;
}
.follow{
    width: 138px;
    height: 109px;
}
footer img{
    display: flex;
    flex-direction: row;
    aspect-ratio: 1/1;
    width: 60px;
    height: 60px;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;

}
.apps{
    width: 285px;
    height: 109px;
}