header{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:flex-start;
    align-content:stretch;
}
.logo{
    width: 198px;
    height: 60px;
}
.menu{
    width: 314;
    height: 60;
}
.search{
    width: 314;
    height: 60;
}