header{
    width: 1092px;
    height: 129px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    align-content:center;
    border: 1px solid black;
}
.logo{
    width: 198px;
    height: 60px;
}
.menu{
    width: 314;
    height: 60;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-top: 1rem;
}
.search{
    width: 314px;
    height: 60px;
    margin-top: 1rem;
    gap: 5rem;
}
.buyutec{
    width: 10px;
    height: 10px;
    margin-top: 1rem;
}

.profile{
    height: 25px;
    width: 25px;
    text-align: right;
    border-radius: 50px;
    margin-top: 1rem;
    color: white;
    border: black;
}
.fa-regular fa-bell{
    width: 40px;
    height: 40px;
    background-color: none;
    border-color: blue;
}
main{
    border: 1px solid black;
    margin: 1rem;
}
.suggestion-item-content{
    width: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
}
.user-rating{
    color: red;
    display: inline-block;
}
.duration{
    font-weight: bold;
}
.maturity-rating{
    border: 1px solid black;
}